       <script src="../../js/popper.js"></script>
       <script src="../../js/bootstrap.min.js"></script>
       <script src="../../js/all.js"></script>
       <script src="../../js/jquery-3.4.1.min.js"></script>
       <script src="../../js/functions.js"></script>
       <section class="footer w-100">
           <p class="text-center">
               Copyright &copy; File Manager <%= new Date().getFullYear() %>
           </p>
       </section>
    </body>
</html>